

.container {
  width: 500px;
  height: 500px;
  margin: 100px auto;
  position: relative;
}

.ca {
  width: 100%;
  height: 100%;
  animation : loopa 4s infinite;
}


.imgWrapper {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: brown;
  background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_517194189_373099.jpg");
}

.cb {
  position: absolute;
  width: 100%;
  height: 100%;
  animation : loopb 4s infinite;
  transform-origin: center;
}


@keyframes loopa {

  from {
      transform: rotate(0deg)
  }

  50% {
      transform: rotate(180deg)
  }

  to {
      transform: rotate(360deg)
  }
}


@keyframes loopb {

  from {
      transform: rotate(360deg)
  }

  50% {
      transform: rotate(90deg)
  }

  to {
      transform: rotate(0deg)
  }
}

